## Ignore Visual Studio & .NET build artifacts
bin/
obj/
[Bb]in/
[Oo]bj/

# Visual Studio cache and settings
.vs/
*.user
*.userosscache
*.sln.docstates

# Rider cache and settings
.idea/

# OS-specific files
.DS_Store
Thumbs.db
